* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #434343;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

ul {
    list-style: none;
}

.top-header {
    align-items: center;
    background: #DF574B;
    -webkit-box-shadow: 0px 2px 10px #333333;
    -moz-box-shadow: 0px 2px 10px #333333;
    box-shadow: 0px 2px 10px #333333;
    padding-right: 20px;
    display: flex;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}


.top-nav {
    flex: 1;
}

.top-nav a {
    color: #F9F9F9;
    font-weight: 400;
    margin-left: 20px;
    text-decoration: none;
}

/* id="welcome-msg" */
span[id="welcome-msg"] {
    color: #F9F9F9;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
}

/* id="logout-link" */

a[id="logout-link"] {
    color: #F9F9F9;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
}


.container {
    top: 60px;
    margin: 60px auto;
    max-width: 1000px;
    min-width: 600px;
}


.container>header {
    align-items: center;
    background: url('../image/background.jpg') no-repeat 50% 50%;
    background-size: 100%;
    display: flex;
    height: 250px;
}

.container>header p {
    border-left: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    margin-left: 220px;
    padding-left: 5px;
}

.container>header span {
    color: #FBAF41;
}


.main-section {
    background: #F3BB43;
}



#login-form {
    
    padding: 20px;
    background-color: #434343;
}

.inside-login-form {
	margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    width: 500px;
    -webkit-box-shadow: 2px 2px 22px #FFFFFF;
    -moz-box-shadow: 2px 2px 22px #FFFFFF;
    box-shadow: 2px 2px 22px #FFFFFF;
    text-align: center;
    padding: 20px 0;
}


.username-form {
	margin: 15px 100px;
    padding: 0;
    height: 30px;
    font-size: 16px;
    align-content: center;
    font-weight: 400;
    line-height: 2em;
}

input {
    padding: 5px 10px;
    margin-right: 41px;
    margin-top: 8px;
    float: right;
    -webkit-box-shadow: 1px 1px 9px darkgrey;
    -moz-box-shadow: 1px 1px 9px darkgrey;
    box-shadow: 1px 1px 9px darkgrey;
}


label {
    float: left;
    margin-top: 4px;
    margin-left: 15px;
}


button {
    background-color: #232d2aa1;
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 40px;
    margin-top: 5px;
    float: right;
    color: WHITE;
    font-size: 1em;
}

button:hover {
	 -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	 -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  



#item-nav {
    display: block;
    float: left;
    width: 180px;
}

.nav-icon {
    color: #624630;
    padding: 20px;
    text-align: center;
}


.main-nav-btn {
    border-top: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    padding: 20px;
    text-align: left;
    text-decoration: none;
}

.main-nav-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #624630;
}

.main-nav-btn.active {
    background: #F2EBD9;
    color: #624630;
}

.main-nav-btn i {
    width: 20px;
}


#item-list {
    background: #F2EBD9;
    color: #624630;
    display: block;
    list-style: none;
    margin-left: 180px;
    min-height: 250px;
    padding: 10px;
}



.item {
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    margin: 10px;
    padding: 15px;
}

.item:last-child {
    border: none;
}

.item:hover {
    background: rgba(255, 255, 255, 0.8);
}

.item img {
    border: 1px solid #FFFFFF;
    height: 80px;
    width: 80px;
}

.item>div:first-of-type {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.item-name {
    color: #624630;
    font-weight: 400;
    text-decoration: none;
}

.item-name:hover {
    text-decoration: underline;
}

.item-address {
    line-height: 20px;
    padding-right: 20px;
    text-align: right;
}

.stars {
    align-items: center;
    display: flex;
    padding-top: 10px;
}

.fav-link {
    border-left: 1px solid #FFFFFF;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.fav-link:hover {
    color: #F13F3F;
}

/* 
	// TODO:
		fav-link after:
	
 */

/**
* footer section
*/

footer {
    background: #434343;
    font-size: 0.8em;
    height: 200px;
    position: relative;
}

footer p {
    text-align: center;
}

footer p.title {
    font-size: 1.2em;
    padding: 15px;
}

footer ul {
    align-items: center;
    display: flex;
    padding: 20px;
}

footer ul li {
    flex: 1;
}